<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hello vue!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
</head>
<body>
<!--事件修饰符-->
<div id="div1">
    <p>{{message}}</p>
    <input type="text" v-model="message">
</div>
<hr>
<div id="div2">
    <p>{{message}}</p>
    <input type="textarea" v-model="message">
</div>
<script language="JavaScript">
    var vm1 = new Vue({
        el : "#div1",
        data : {
            message : 'hello world'
        }
    });

    var vm2 = new Vue({
        el : '#div2',
        data : {
            message : 'Vue'
        }
    });
</script>
</body>
</html>